body{
    background-image: url("bg.jpg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;

    
    
}
body::before{
    filter: blur(4px);
}
div{
    height: 420px;
    width: 400px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    margin-left: 530px;
    margin-top: 100px;
    position:absolute;
    border-radius: 20px;
    filter: blur(0.1px);
    color: white;
    justify-content: center;
    padding: 20px;
}
h1{
    margin-left: 35%;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
}
input{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(29, 23, 23);
    margin-top: 30px;
    background-color: transparent;
    outline: none;
    font-size: 20px;
}
#chec{
    height: 15px;
    width: 15px;
    margin-top: 25px;
    background-color: transparent;

}
a{
    width: 20%;
    margin-left: 30%;
    margin-top: 25px;
    font-size: 20px;
}
button{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: none;
}
h4{
    margin-left: 70px;
    font-family:Arial, Helvetica, sans-serif;
}

@media screen and (max-width:600px) {
    div{
        width: 70%;
        margin-left: 15%;
    }
    h4{
        margin-left: 10%;
    }
   
    
}
@media screen and (max-width:400px){
    h4{
        font-size: 15px;
        margin-left: 5%;
    }
    #an{
        font-size: 15px;
        margin-left: 13%;
    }
}